<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didimstory.mangulmangul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"


        />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MangulMangul"
        android:usesCleartextTraffic="true">


        <activity android:name=".fairy.PopUpActivity"
            android:theme="@android:style/Theme.Dialog"

            ></activity>
        <activity android:name=".Purchase.pgFragment" />
        <activity android:name=".fairy.fairyPopup"
            android:theme="@android:style/Theme.Dialog"


            ></activity>



        <activity
            android:name=".MyService.QuestionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.FindActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyService.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyService.QuestionDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".famous.youtubeFamous"
            android:screenOrientation="landscape" />
        <activity
            android:name=".webviewAPI"
            android:screenOrientation="landscape" />
        <activity
            android:name=".boast.boastActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Purchase.purchaseActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".youtube.youtubeTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.SignUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">

        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.didimstory.mangulmangul.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>